<style>
  body {
        background-color: gray;
  }
  header {
    background-color: #242a2b;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 35px;
    border-radius: 20px;
    font-family: 'Courgette', cursive;
  }
  #img01 {
    border-radius: 50%;
    width: 280px;
    float: right;
  }
  #img02 {
    float: left;
    width: 300px;
    height: 700px;
  }
  #img03 {
    float: left;
    width: 450px;
    height: 550px;
    border-radius: 50px;
    margin-left: 20px;
  }
  #img04 {
    width: 100px;
    border-radius: 50px;
  }
  #text1 {
    text-align: center;
    font-size: 50px;
    color: #333;
    text-decoration: none;
  }
  #text2 {
    margin-left: 200px;
    font-size: 50px;
    color: #333;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
  }

  li a:hover {
    background-color: #111;
  }
  footer {
    background-color: #242a2b;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
  }
  .edu {
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #242a2b;
    width: 60%;
    margin-left: 300px;
    background-color: #242a2b;
    color: white;
  }
  .edu img {
    border-radius: 50%;
    width: 100px;
    float: left;
    padding: 10px;
  }
  .edu p {
    font-size: 25px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
  }
  .edu h1,h2 {
    margin-left: 110px;
    font-family: 'Patrick Hand', cursive;
  }
  .headline {
    font-size: 60px;
    font-family: 'Courgette', cursive;
    text-align: center;
  }
  .headline img {
    width: 80px;
  }
</style>
